* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: 0px;
    font-family: 'Ubuntu', sans-serif;
    outline: 0px;
}

.logo__header img {
    width: 130px;
}

.header__top {
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu {
    display: flex;
    flex: 1;
    list-style: none;
    column-gap: 10px;
}

.header__top {
    z-index: 10;
}

.telephone__header {
    display: flex;
    text-decoration: none;
    align-items: center;
}

.telephone__header__content {
    padding: 0px 10px;
}

.telephone__header__content b {
    color: #32bf5d;
    font-size: 12px;
    font-weight: 500;
}

.telephone__header__content p {
    color: #000;
    line-height: 1.5;
    text-decoration: none;
    font-size: 16px;
}

.telephone__header__content p:hover {
    color: #32bf5d;
}

.telephone__header svg:hover path {
    fill: #fff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0px auto;
}

.title__menu__content p {
    font-size: 20px;
    max-width: 900px;
    padding-bottom: 60px;
    font-weight: 500;
}

.title__menu__content button {
    padding: 25px 60px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #32bf5d;
    border-radius: 50px;
    box-shadow: 0 0 40px 10px rgb(50 191 93 / 20%);
}

.nav__menu li a {
    text-decoration: none;
    font-size: 11px;
    font-family: "Manrope", Helvetica, sans-serif;
    text-transform: uppercase;
    color: #2d2d2d;
}

.nav__menu li a:hover {
    color: #32bf5d;
}

.title__menu {
    position: relative;
    z-index: 3;
    height: 700px;
}

body {
    position: relative;
}


.title__menu__content {
    margin-top: 20px;
}

.title__menu__content h1 {
    padding-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.1;
}

.title__menu__container {
    overflow: hidden;
}

.icons__menu__block {
    padding: 40px 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 6;
    background-color: #fff;
    border: 1px solid #e6e9f0;
    border-radius: 20px;
}

.container {
    padding: 0px 20px;
}

.icon__item {
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 15px;
}

.icon__item p {
    padding-top: 15px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}

.features__figure {
    width: 60px;
    height: 60px;
}

.st0 {
    fill: #222222;
}

.st1 {
    fill: #32BF5D;
}

.calculator__full {
    padding-top: 60px;
}

.calculator__full h2 {
    font-size: 40px;
    padding-bottom: 20px;
    text-align: center;
}

.calculator__nav__links {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
}

.calculator {
    display: flex;
    flex-direction: column;
}

.calculator {
    border-radius: 20px;
    background-color: #EFFAF0 !important;
}

.active__link {
    background-color: #32BF5D !important;
}

.active__link p {
    color: #fff !important;
}

.calculator__nav__link__item {
    width: 33.3333%;
    padding: 10px;
    min-height: 48px;
    display: flex;
    cursor: pointer;
    border-right: 1px solid #fff;
    background: #EFFAF0;
    justify-content: center;
    align-items: center;
}

.calculatur__callory p {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    color: #626262;
}

.calculator__nav__link__item p {
    font-size: 24px;
    text-align: center;
    color: #32BF5D;
}

.calculatur__callory__buttons {
    display: flex;
    column-gap: 10px;
}

.calculator__button {
    display: flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    flex-direction: column;
    justify-content: center;
    gap: 9px;
    background: #fff;
    color: #30BA6B;
    border-radius: 12px;
    box-shadow: 0px 3px 10px rgb(0 0 0 / 5%);
    cursor: pointer;
    align-items: center;
}

.calculatur__callory__buttons button {
    width: 130px;
    height: 49px;
    padding: 8px 16px;
}

.text__stile {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #626262;
}

.calculator__set__time>p {
    padding: 10px 0px;
}

.calculatur__content {
    padding: 30px 30px;
}

.calculator__time__picker button {
    min-height: 82px;
    width: 120px;
    box-shadow: 0px 3px 10px rgb(0 0 0 / 5%);
}

.calculator__time__picker button p {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 110%;
    text-align: center;
    color: #30BA6B;
}

.active__button__calculator p {
    color: #fff !important;
}

.active__button__calculator {
    background: #30BA6B;
    color: #fff;
    font-weight: 500;
}

.calculator__callory__day {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.calculatur__callory {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: space-between;
}

.calculator__information {
    width: 33%;
    display: flex;
    align-items: flex-end;
}

.calculator__information__item {
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}

.calculator__time__picker {
    width: 66.6666%;
}

.review__cart {
    display: flex;
    column-gap: 1%;
    flex-wrap: nowrap;
}

.calculator__time__container {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.summ__container {
    width: 31.3333%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.container__calculator__time {
    display: flex;
    background-color: #fff;
    border-radius: 16px;
    padding: 16px;
    column-gap: 15px;
}

.calculator__information__item b {
    font-size: 14px;
    cursor: pointer;
}

.calculator__information__item p {
    font-size: 14px;
    cursor: pointer;
}

.calculator__menu__items {
    padding: 20px 30px;
    margin-top: 20px;
    display: flex;
    background: #fff;
    flex-direction: column;
    gap: 12px;
    border-radius: 20px;
    overflow: hidden;
}

.calculator__menu__items>p {
    font-size: 24px;
}


.calculator__menu__icon b {
    font-size: 14px;
}

.calculator__chose__date {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.calculator__menu__icon {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.active__date__chose {
    color: #30BA6B;
}

.review__cart img {
    width: 100%;
}

.calculator__chose__date__item {
    cursor: pointer;
}

.cart-contents {
    margin: 0px !important;
    margin-top: 20px !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    --swiper-navigation-size: 44px;
    --swiper-theme-color: #007aff;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif !important;
    text-decoration: none;
    color: #343941 !important;
    position: relative;
    height: auto;
    width: auto;
    text-indent: 0;
    display: block;
    border-radius: 50px;
    margin-left: auto;
    background-color: #FF6501 !important;
    max-width: max-content;
    padding: 14px 15px !important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
}

.cart-contents::before {
    font-family: font-pizzaro;
    content: "\47";
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    background-image: url(img/cart.svg);
    background-size: contain;
    padding: 10px !important;
    background-repeat: no-repeat;
}

.cart-contents .count {
    display: block;
    position: absolute;
    min-width: 19px;
    min-height: 19px;
    top: -9px;
    right: 6px;
    background-color: #FFE600;
    text-align: center;
    border-radius: 100%;
    color: #000;
    font-family: Tahoma;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
}

.header-v1 .site-header-cart .cart-contents .amount {
    margin-right: 0;
    font-family: Tahoma;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
}

.button__purcase {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 16px;
    gap: 4px;
    background: #FF6501;
    color: #fff;
    font-size: 14px;
    max-width: 134px;
    border-radius: 12px;
    cursor: pointer;
}

.checkbox__purcase {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: flex-end;
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
}

.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #000000;
    /* border-radius: 0.25em; */
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

#auto-pay {
    opacity: -1;
    display: none;
}

.custom-checkbox:checked+label::before {
    border-color: #000;
    background-color: #fff;
    background-image: url(img/checked.svg);
    background-size: contain;
}

.basket-top-buttons_chbox_contener .auto-pay-conteiner label {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: flex-end;
}

.calculator__chose__date__container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
}

.calculator__items__food {
    overflow: hidden;
}

.information__single__food {
    display: flex;
    column-gap: 10px;
}

.calculator__items__food__single img {
    max-width: 100%;
    transition: 0.3s;
    margin: 0px auto;
    object-fit: cover;
    height: 80%;
}

.arrows__list {
    display: flex;
}

.calculator__items__food__single>p {
    height: 60px;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
}

.information__single__item p,
b {
    font-size: 12px;
}

.information__single__item {
    flex-basis: 25%;
}

.single__img_container {
    height: 200px;
    display: flex;
    align-items: center;
}

.calculator__set__time {
    margin-top: 20px;
}

.left-arrow,
.right-arrow {
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 10px rgb(0 0 0 / 5%);
    border-radius: 14px;
}

.block__info__content {
    max-width: 55%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-right: 20px;
}

.block__info__content h2 {
    font-size: 40px;
}

.block__info__content p {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    color: #2d2d2d;
}

.block__info {
    padding: 0px 20px;
    padding-top: 80px;
    display: flex;
}

.block__info__content__button b {
    font-size: 28px;
    color: #faa720;
}

.block__info__content__button {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.block__info__content__button button {
    box-shadow: 0 0 40px 10px rgb(50 191 93 / 20%);
    padding: 25px 60px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #32bf5d;
    border-radius: 50px;
}

.image__block__info {
    width: 45%;
    display: flex;
    align-items: center;
}

.block__info__reverse {
    display: flex;
    flex-direction: row-reverse;
}

.block__info__reverse .block__info__content {
    max-width: 70%;
}

.block__info__reverse .image__block__info {
    width: 30%;
}

.block__info__reverse .block__info__content {
    padding-left: 20px;
    padding-right: 0px;
}

.image__block__info img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reviews__slider {
    padding: 60px 20px;
    margin-top: 60px;
    padding-bottom: 0px;
}

.swiper-pagination-bullet-active {
    background-color: #32BF5D !important;
}

.reviews__slider__title {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: 50px;
}

.reviews__slider__title h2 {
    position: relative;
    font-size: 40px;
}

.reviews__slider__title h2:after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: -30px;
    background-color: #e6e9f0;
}

.row__info__reviewer figure {
    width: 100px;
    height: 100px;
}

.reviews__slider__content {
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: hidden;
    position: relative;
}

.row__info__reviewer figure img {
    width: 100%;
}

.review__text p {
    padding-right: 60px;
    font-size: 20px;
    font-weight: 300;
}

.row__info__reviewer {
    display: flex;
    column-gap: 15px;
}

.stars-5 {
    background-position: 0 100%;
}

.star__review {
    width: 120px;
    height: 20px;
    background-image: url('./img/stars.svg');
}

.row__info__reviewer__content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.programm__information__full h2 {
    font-size: 40px;
    text-align: center;
}

.program__information__list {
    display: flex;
    column-gap: 1%;
    justify-content: space-evenly;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.program__information__item {
    flex-basis: 32%;
    margin-top: 40px;
    padding: 20px 40px;
    text-align: center;
    border: 1px solid #e6e9f0;
    border-radius: 20px;
}

.programm__information__full {
    padding: 20px;
}

.program__information__item h3 {
    padding-bottom: 20px;
    color: #32bf5d;
    font-size: 24px;
}

.payment__information {
    display: flex;
    column-gap: 1%;
}

.payment__information__item {
    flex-basis: 24%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-start;
}

.program__information__item p {
    font-size: 18px;
}

.payment__information__full {
    flex-basis: 66%;
    column-gap: 1%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    padding: 40px;
    border: 1px solid #e6e9f0;
    border-radius: 20px;
}

.payment__form__button {
    flex-basis: 32%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: #f4f6fb;
    border-radius: 20px;
    text-align: center;
}

.payment__form__button button {
    padding: 25px 10px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #32bf5d;
    border-radius: 50px;
}

.quetions__list {
    margin-top: 30px;
    padding: 0px 20px;
}

.quetions__list h2 {
    text-align: center;
}

.quetions__items {
    margin-top: 20px;
    display: flex;
    overflow: auto;
    column-gap: 4%;
    padding-bottom: 40px;
    margin-bottom: 30px;
}

.quetions__text__hidden p {
    margin-top: 20px;
    padding: 20px 30px;
    border: 1px solid #e6e9f0;
    border-radius: 20px;
}

.quetions__list__text__header:hover {
    background-color: #32BF5D;
    color: #fff;
}

.quetions__active {
    background-color: #32BF5D !important;
    color: #fff;
}

.quetions__active path {
    stroke: #fff;
}

.quetions__list__text__header:hover path {
    stroke: #fff;
}

.quetions__list__text__header figure {
    transition: 0.5s;
}

.ico__active {
    color: #fff;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.quetions_item {
    flex-basis: 16%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
    row-gap: 15px;
    padding: 20px 10px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #e6e9f0;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
}

.quetions_item:hover {
    background-color: #30BA6B;
    border: 1px solid #30BA6B;
    color: #fff;
}

.quetions_item:hover::after {
    background-color: #30BA6B;
}

.quetions_item::after {
    content: "";
    transition: 0.5s;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    bottom: -10px;
    background-color: transparent;
    -webkit-transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    z-index: -10;
}

.active__quetion {
    background-color: #30BA6B;
    border: 1px solid #30BA6B;
    color: #fff;
}

.active__quetion::after {
    background-color: #30BA6B;
}

.quetions__list__text__content {
    margin-bottom: 20px;
}
.calculator__items__food__single img:hover{
    transform: scale(1.3);
    z-index: 999;
}
.quetions__list__text__header {
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    transition: 0.5s;
    justify-content: space-between;
    padding: 15px 30px;
    min-height: 70px;
    align-items: center;
    background-color: #f4f6fb;
    border-radius: 20px;
    cursor: pointer;
}

.quetions__list__text__header b {
    font-size: 20px;
}

.quetions__text__hidden {
    transition: 0.5s;
}

.calculator__menu__sum {
    display: flex;
}

.calculator__menu__sum__skidka {
    display: flex;
    text-decoration: line-through;
}
.footer__text{
    width: 25%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 12px;
}
.calculator__menu__sum b {
    font-size: 24px;
}

.header__menu-button {
    display: none;
}

.menu-toggle,
.price-label {
    display: none !important;
}

.cart-contents .amount {
    display: none;
}

.header__row__contact {
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.header__menu__mobile {
    display: none;
}

.header__menu__mobile {
    visibility: hidden;
}

.contact__item {
    display: flex;
    padding: 30px;
    border: 1px solid #e6e9f0;
    border-radius: 20px;
    background-color: #fff;
    text-align: left;
    justify-content: space-between;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    flex-basis: 48%;
}

.contact__item__text {
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.contact__item__text b {
    font-size: 18px;
    font-weight: 500;
}

.contact__block__full {
    display: flex;
    margin-top: 80px;
    padding: 0px 20px;
    margin-bottom: 80px;
    column-gap: 2%;
}

.footer__block {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    border-top: 1px solid #e6e9f0;
}

.footer__block .telephone__header__content {
    display: block;
}

.social__links__mobile {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.footer__col img {
    width: 120px;
}

.footer__col__text {
    display: flex;
    flex-direction: column;
}

.footer__col {
    flex-basis: 35%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.footer__col__text p {
    font-size: 12px;
}

.modal__container {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    bottom: 0px;
    background-color: rgba(0, 0, 0, .5);
    border: none;
    z-index: 10;
}

.modal__form {
    width: 100%;
    position: relative;
    padding: 40px;
    max-width: 720px;
    background-image: url('./img/form__img.png');
    background-position: 115% 50%;
    background-repeat: no-repeat;
    background-size: 50%;
    margin: 0px auto;
    border-radius: 20px;
    background-color: #fff;
    overflow: hidden;
}

.modal__close:before {
    content: "×";
    position: absolute;
    color: inherit;
    font-size: 30px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.modal__close {
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    font-size: 0;
    border: none;
    color: #32bf5d;
    background-color: transparent;
    z-index: 200;
    position: absolute;
    cursor: pointer;
    border-radius: 8px;
}

.modal__open {
    cursor: pointer;
}

.row__input {
    display: flex;
    padding: 10px 0px;
    column-gap: 15px;
}

.modal__form input {
    width: 100%;
    padding: 20px;
    border: 1px solid #e6e9f0;
    border-radius: 50px;
    outline: none;
}

.modal__form form textarea {
    width: 100%;
    padding: 20px;
    border: 1px solid #e6e9f0;
    border-radius: 25px;
    resize: none;
    font-size: 16px;
}

.title__menu__content {
    display: flex;
    position: relative;
    justify-content: center;
}

.title__menu__content img {
    max-height: 644px;
    width: 100%;
    margin: 0px auto;
}

.title__menu__content .modal__open {
    position: absolute;
    left: 100px;
    bottom: 50px;
}

.header__row__contact .cart-contents {
    margin-top: 0px !important;
}

.modal__form form button {
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    color: #fff;
    text-transform: uppercase;
    background-color: #32bf5d;
    border-radius: 50px;
}

.modal__form form {
    flex-basis: 60%;
    width: 60%;
}

@media(max-width:992px) {
    .header__top nav {
        display: none;
    }

    .header__row__contact>.cart-contents {
        margin-top: 0px !important;
        display: none;
    }

    footer .social__links__mobile {
        margin-bottom: 0px;
    }

    .header__menu__mobile {
        display: flex;
        flex-direction: column;
        position: absolute;
        transition: 0.5s;
        align-items: center;
        top: 120.52px;
        z-index: 999;
        left: 0px;
        right: 0px;
        background-color: #fff;
    }

    .header__menu__mobile ul {
        width: 100%;
        padding-top: 20px;
        list-style: none;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .gray__text {
        color: #90a4af;
    }

    .quite__button {
        color: #32bf5d;
        cursor: pointer;
    }

    .header__menu__mobile ul li {
        padding: 10px 0px;
    }

    .header__menu__mobile ul li a {
        color: #000;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
    }

    .header__menu__mobile>a {
        margin: 10px 40px 10px;
    }

    .social__links__mobile {
        display: flex;
        margin-bottom: 30px;
        column-gap: 10px;
    }

    .social__links__container {
        display: flex;
        row-gap: 15px;
        align-items: center;
        padding: 20px 20px 40px;
        flex-direction: column;
    }

    .social__links__container p {
        text-align: center;
    }

    .social__links__mobile a {
        width: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 46px;
        color: #90a4af;
        border: 1px solid #90a4af;
        border-radius: 50%;
    }

    .header__menu__mobile .telephone__header__content {
        display: block;
    }

    .header__menu__mobile .telephone__header__content p {
        font-size: 24px;
    }

    .header__menu__mobile .telephone__header__content b {
        font-size: 18px;
    }

    .header__top {
        background-color: #fff;
        border-bottom: 1px solid #90a4af;
    }

    .telephone__header__content {
        display: none;
    }

    .header__menu-button {
        display: block;
        width: 46px;
        transition: 0.5s;
        height: 46px;
        position: relative;
        font-size: 0;
        border-radius: 8px;
        color: #32bf5d;
        background-color: transparent;
        border: 2px solid transparent;
        z-index: 10;
    }

    .ico--m {
        width: 24px;
        height: 24px;
    }

    .nav__button-menu-line {
        display: inline-block;
        width: 60%;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size: 20px;
        background-color: #32bf5d;
    }

    .nav__button-menu-line:after,
    .nav__button-menu-line:before {
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        background-color: #32bf5d;
    }

    .nav__button-menu-line:after,
    .nav__button-menu-line:before {
        content: "";
        transition: 0.5s;
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        background-color: #32bf5d;
    }

    .nav__button-menu-line:before {
        top: -400%;
    }

    .nav__button-menu-line:after {
        top: 400%;
    }

    .header__menu-button.active {
        background-color: #32bf5d;
        color: #fff;
    }

    .header__menu-button.active .nav__button-menu-line:before {
        background-color: #fff;
        -webkit-transform: translateY(400%) rotate(45deg);
        -ms-transform: translateY(400%) rotate(45deg);
        transform: translateY(400%) rotate(45deg);
    }

    .header__menu-button.active .nav__button-menu-line:after {
        background-color: #fff;
        -webkit-transform: translateY(-400%) rotate(-45deg);
        -ms-transform: translateY(-400%) rotate(-45deg);
        transform: translateY(-400%) rotate(-45deg);
    }
}

@media(max-width:968px) {
    .payment__information__full {
        flex-basis: 50%;
        row-gap: 20px;
        padding: 25px;
        flex-wrap: wrap;
    }

    .payment__information__item {
        flex-basis: 49%;
    }

    .payment__form__button {
        flex-basis: 50%;
    }

    .program__information__item {
        flex-basis: 49%;
    }

    .review__text {
        padding-top: 30px;
    }
}

@media(max-width:768px) {
    .calculator__information {
        width: 66%;
    }

    .program__information__item h3 {
        font-size: 18px;
    }
    .container__calculator__time{
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
    .calculator__time__picker{
        width: 100%;
    }
    .summ__container{
        width: 100%;
    }
    .program__information__item p {
        font-size: 14px;
    }

    .icons__menu__block {
        flex-wrap: wrap;
        row-gap: 15px;
    }

    .footer__col {
        display: none;
    }

    .title__menu__content h1 {
        font-size: 46px;
    }

    .contact__item {
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    .icon__item {
        flex-basis: 33.3333%;
    }

    .calculator__nav__link__item p {
        font-size: 18px;
    }

    .block__info__reverse {
        display: flex;
        flex-direction: column-reverse !important;
        row-gap: 15px;
    }

    .block__info__reverse .image__block__info {
        width: 70%;
        margin: 0px auto;
    }

    .block__info__reverse .block__info__content {
        max-width: 100%;
    }
}

@media(max-width:580px) {

    .modal__form {
        background-image: none;
    }
    .title__menu__content .modal__open {
        position: absolute;
        left: 0px;
        bottom: 25px;
    }

    .modal__form form {
        flex-basis: 100%;
        width: 100%;
    }

    .title__menu__content {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    .title__menu__content p {
        padding-bottom: 20px;
    }

    .calculator__nav__links {
        flex-direction: column;
    }

    .calculatur__callory__buttons button {
        width: 32%;
    }

    .calculator__time__picker button {
        width: 46%;
    }

    .contact__block__full {
        flex-direction: column;
        row-gap: 15px;
    }

    .calculator__nav__link__item {
        width: 100%;
        border-radius: 0px !important;
    }

    .calculatur__content {
        padding: 30px 0px;
    }

    .container {
        padding: 0px 5px;
    }

    .calculator {
        background-color: #fff !important;
    }

    .program__information__item {
        flex-basis: 100%;
    }

    .payment__information__item p {
        text-align: center;
    }

    .payment__information__full {
        flex-direction: column;
        align-items: center;
        display: flex;
        flex-wrap: nowrap;
    }

    .payment__information__item {
        display: flex;
        flex-basis: 80%;
        align-items: center;
    }

    .block__info {
        flex-direction: column-reverse;
    }

    .block__info__content {
        max-width: 100%;
        padding-top: 20px;
    }

    .block__info__content h2 {
        font-size: 24px;
    }

    .calculator__full h2 {
        font-size: 24px;
    }

    .programm__information__full h2 {
        font-size: 24px;
    }

    .program__information__item h3 {
        font-size: 18px;
    }

    .quetions__list__text__header b {
        font-size: 16px;
    }

    .program__information__item p {
        font-size: 14px;
    }

    .reviews__slider__title h2 {
        font-size: 24px;
    }

    .review__text p {
        font-size: 14px;
    }

    .block__info__content p {
        font-size: 14px;
    }

    .icon__item {
        flex-basis: 50%;
    }

    .image__block__info {
        width: 70%;
        margin: 0px auto;
    }

    .payment__information {
        flex-direction: column;
    }

    .payment__information__full,
    .payment__form__button {
        border-radius: 0px;
    }

    .title__menu__content h1 {
        font-size: 24px;
        padding-bottom: 20px;
    }
}